<form id="login" methid="post">
    <input type="email" name="name" value="" placeholder="Email">
    <br>
    <input type="password" name="password" value="" placeholder="password">
    <br>
    <input type="submit" value="login">
</form>

<script type="text/javascript">
    const formLogin = document.querySelector('#login');
    const formData = new FormData(formLogin);

    formLogin.addEventListener('submit', event => {
        event.preventDefault();
        fetch('/api/signin', {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            localStorage.setItem('token', data.token)
        })
    })
</script>